@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
  overflow: hidden;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
